<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test-suite">
  <test name="test-suite">
    <classes>
      <class name="com.selenium.tests.TestDisplayCustomer"/>
      <class name="com.selenium.tests.TestCustomerForm"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
